<%= form_with(model: @empresa, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :cnpj %>
    <%= f.text_field :cnpj, id: "empresa_cnpj", class: "form-control" %>
    <button type="button" class="btn btn-outline-primary mt-2" id="buscar_cnpj">Buscar CNPJ</button>
  </div>
  <div class="mb-3">
    <%= f.label :tipo %>
    <%= f.text_field :tipo, id: "empresa_tipo", class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :nome %>
    <%= f.text_field :nome, id: "empresa_nome", class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :porte %>
    <%= f.text_field :porte, id: "empresa_porte", class: "form-control" %>
  </div>
  <%= f.submit "Salvar", class: "btn btn-success" %>
<% end %>
<div id="resultado" class="mt-3"></div>
