<% content_for :title, "Empresas" %>

<div class="container my-5">
  <% if notice.present? %>
    <div class="alert alert-success alert-dismissible fade show text-center shadow-sm" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
  <% end %>

  <!-- Título -->
  <div class="text-center mb-5">
    <h1 class="fw-bold text-primary">📊 Empresas</h1>
    <p class="text-muted">Lista de empresas cadastradas no sistema</p>
  </div>
  
  <p class="text-muted mb-0">
  Total cadastradas: <span class="fw-semibold"><%= @pagy.count %></span>
</p>


  <!-- Cards -->
  <div id="empresas" class="row g-4">
    <% @empresas.each do |empresa| %>
      <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body">
            <%= render empresa %>
          </div>
          <div class="card-footer bg-white border-0 text-center">
            <%= link_to "ℹ️ Detalhes", empresa, class: "btn btn-outline-primary btn-sm px-3" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Botão nova empresa -->
  <div class="text-center mt-5">
    <%= link_to "➕ Nova empresa", new_empresa_path, class: "btn btn-success btn-lg shadow-sm" %>
  </div>

  <!-- Paginação -->
  <div class="d-flex justify-content-center mt-4">
    <%= pagy_bootstrap_nav(@pagy).html_safe %>
  </div>
</div>
